.sideBar__genresItem {
    margin: 0px 10px;
}

.sideBar__genres {
    display: flex;
    flex-direction: column;
}

.sideBar__btn {
    margin: 5px 0px;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
    color: black;
}
